.main-navbar {
    width: 100% !important;
    height: 70px;
    display: flex;
    flex-wrap: nowrap;
    position: absolut;
    align-items: center;
    padding: 20px 40px;
    margin: 0;
}

.nav-logo-text {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #000 !important;

    &:hover {
        text-decoration: none;
        color: unset;
    }
}

.logout-btn {
    justify-content: flex-end;
    align-items: flex-end;
    background: #FFC700 ;
    border: 1px solid #000000;
    width: 100px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 4px 8px;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000;
    margin-left: 1050px;
}