.movie-card-image {
    width: 270px;
    height: 165px;
}

.movie-card {
    padding: 25px 0 0 0;
    text-decoration: none !important;
    width: 270px;
    height: 350px;
    
    &:hover {
        text-decoration: none !important;
        color: unset;
    }
}

.movie-info {
    padding: 14px 18px 50px 14px;
}

.movie-title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.015em;
    color: #ffffff;
}

.movie-year {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: #ffc700;
}

.movie-subtitle {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.015em;
    color: #ffffff;
}
