.movie-details-container {
    margin: 40px 135px 45px 135px;
}

.movie-details {
    margin-bottom: 15px;
    padding: 25px 30px 30px 20px;
    display: flex;
    flex-direction: row;
}

.movie-post-review {
    margin-bottom: 15px;
}

.movie-details-image {
    margin-right: 60px;
    width: 525px !important;
    height: 320px !important;
}

.movie-details-title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.015em;
    color: #ffffff;
}

.movie-details-year {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #ffc700;
}

.movie-details-subtitle {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #ffffff;
}

.movie-details-synopsis {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    letter-spacing: -0.015em;
    color: #9e9e9e;

    border: 1px solid #e1e1e1;
    border-radius: 20px;
    padding: 15px 30px 20px 20px;
}

.movie-post-review {
    padding: 20px 20px 15px 20px;
    display: flex;
    flex-direction: column;
}

.review-input {
    background: #fff;
    width: 100%;
    height: 75px !important;
    margin-bottom: 15px;
}

.btn-submit-review {
    border-radius: 10px;
    width: 330px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-submit-text {
    text-transform: uppercase;    
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000;
}

.movie-old-reviews {
    padding: 15px 20px;
}